NEXT_PUBLIC_SUPABASE_URL=https://xbedfffvdpjeotzwukmw.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhiZWRmZmZ2ZHBqZW90end1a213Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODQxMDE2MDYsImV4cCI6MjA5OTY3NzYwNn0.A112xiv45uJyn8rjOGWkqAObfLSrleQd-M7uBmQPNt4
